{% comment %}
Source: http://tachyons.io/components/footers/social/index.html
{% endcomment %}
<footer class="pv4 ph3 ph5-ns tc">
  {% if site.twitter_username %}
  <a class="link dim gray dib h2 w2 br-100 mr3" href="https://twitter.com/{{ site.twitter_username }}" title="My Twitter account">
    {% include icon-twitter.svg %}
  </a>
  {% endif %}
  <a class="link dim gray dib h2 w2 br-100 mr3" href="{{ site.repository_url }}" title="Git repository of this blog">
    {% include icon-github.svg %}
  </a>
  <a href="{{ site.repository_url }}/issues/new" class="f6 link dim gray dib mr3 mr4-ns">Send feedback</a>
</footer>
